extends ../shared/template
block content
  h2 Trip Information
  .container-fluid
    .row
      .col-xs-6
        #map
      .col-xs-6
        .info
          h3= vacation.name
        table.table
          thead
            tr
              th Start
              th End
              th Latitude
              th Longitude
              th Photos
          tbody
            tr(data-name=vacation.name, data-lat=vacation.coordinates.lat, data-lng=vacation.coordinates.lng)
              td= moment(vacation.start).format("M/D/YY")
              td= moment(vacation.end).format("M/D/YY")
              td= vacation.coordinates.lat.toFixed(8)
              td= vacation.coordinates.lng.toFixed(8)
              td 0
        .row
          .col-xs-12
            form(method='post', action='/vacations/#{vacation._id}/photos/new', role='form')
              .form-group
                label(for='photoUrl') Photo URL
                  input#photoUrl.form-control(type='text', name='url')
              button(type="button" class="btn btn-info") Add Photo


block scripts
  script(src='/js/user/show.js')

